<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View Article | Dashbaord | Readr</title>
    <%- include('../../partials/common/head.ejs', {user}); %>
    <link rel="stylesheet" href="/assets/css/create-article.css" />
    <!-- Include stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('./layout/dashboard-header', {user}); %>
    <div class="p-5 bg-body-tertiary">
      <div class="container">
        <% if (error) { %>
        <div class="form-floating border border-danger rounded p-3 text-danger mb-3"><%= error %></div>
        <% } %> <% if (success) { %>
        <div class="form-floating border border-success rounded p-3 text-success mb-3"><%= success %></div>
        <% } %>
        <form action="/dashboard/edit-article/<%= article.id %>" enctype="multipart/form-data" method="POST">
          <div class="d-flex justify-content-between items-center align-items-start mb-5">
            <h1 class="h1">Edit Article</h1>
            <button type="submit" id="submitArticleButton" class="btn active">Submit</button>
          </div>
          <div class="bd-example-snippet bd-code-snippet">
            <div
              id="image-preview"
              role="button"
              style="height: 300px; background: url('<%= article.image %>')"
              class="w-100 bd-example m-0 border-0 mb-3 position-relative"
            >
              <input id="fileInput" type="file" class="d-none" name="articleImage" accept="image/*" placeholder="Upload image" />
              <div id="image-placeholder" class="d-flex flex-column align-items-center position-absolute top-50 start-50 translate-middle gap-4">
                <span class="fs-3">Change Image</span>
                <i class="fa fa-plus fa-2xl" aria-hidden="true"></i>
              </div>
            </div>

            <input
              type="text"
              name="title"
              style="font-size: 2.5rem"
              value="<%= article.title %>"
              class="w-100 form-control border-0 custom-input mb-3"
              placeholder="Enter title"
              required
            />
            <div class="editor-wrapper">
              <div id="toolbar">
                <select class="ql-font"></select>
                <select class="ql-size"></select>
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
                <button class="ql-color"></button>
                <button class="ql-background"></button>
                <button class="ql-script" value="sub"></button>
                <button class="ql-script" value="super"></button>
                <button class="ql-header" value="1"></button>
                <button class="ql-header" value="2"></button>
                <button class="ql-blockquote"></button>
                <button class="ql-code-block"></button>
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <button class="ql-align"></button>
                <button class="ql-indent" value="-1"></button>
                <button class="ql-indent" value="+1"></button>
                <button class="ql-link"></button>
                <button class="ql-image"></button>
                <button class="ql-video"></button>
                <button class="ql-formula"></button>
              </div>
              <div id="editor-container"></div>
            </div>
            <input type="text" class="d-none" name="text" id="text-input" />
          </div>
          <div class="">
            <label class="text-secondary" for="">Add Tags</label>
          </div>
          <input
            type="text"
            name="tagNames"
            value="<%= article.tags.map(tag => tag.name).join(', ') %>"
            class="w-100 form-control border-0 custom-input mb-3"
            placeholder="Enter tags, seperated by comma"
            required
          />
        </form>
        <!-- Text area matching the selector specified in the TinyMCE configuration -->
      </div>
    </div>
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="/assets/js/create-article.js"></script>
    <script>
      quill.clipboard.dangerouslyPasteHTML("<%= article.text %>");
    </script>
  </body>
</html>
